// GOV.UK template colours

$proposition-border: #2e3133;
// Based on GOV.UK brand blue but slightly lighter so it hits contrast on the
// black header bar when used as copy colour.
$proposition-active-nav: #1d8feb;

$footer-background: $grey-3;
$footer-border-top: #a1acb2;
$footer-link: #D7DAE2;
$footer-link-hover: #171819;
$footer-text: $footer-link;


// INOKET
$inoket-blue: #5F97FB;
$inoket-green: #4FE4C5;
$ink: #2F313A;
$black: #2F313A;
$paper: #ffffff;



$text-colour: #2F313A;

$secondary-text-colour: #dcdfe7;